*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  position: relative;
}

.main-page {
  background:linear-gradient(to bottom, rgba(0,0,0,0), #135234),url("./images/pic2.jpg");
  background-position: center;
  height: 100vh;
  display: flex;
 }

 .question-page{
   width: 80%;
   display:flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
 }

 .question-section{
   background-color: rgb(90, 52, 9);
   height: 50px;
   width: 620px;
   border-radius: 10px;
   color:white;
   border: blanchedalmond solid 1px;
   font-size: 20px;
   font-weight: 600;
   padding: 10px;
   margin-bottom: 50px;
   margin-top: 200px;
   text-align: center;
 }

 .question-amount{
   width:20%;
   background-color: rgb(18, 80, 10);
   color: white;
 }

 .question-amount ul{
   list-style: none;
 } 

 .question-amount ul li{
   display: flex;
   justify-content:space-between;
   margin-bottom: 5px;
   height: 30px;
   padding: 3px;
   border-radius: 5px;
 }



 .answer-section{
   width: 300px;
   height: 40px;
   background-color:rgb(29, 71, 20);
   color: white;
   border-radius: 10px;
   border: burlywood 1px solid;
   cursor: pointer;
   text-align: center;
   padding: 10px;
   margin: 5px;
   font-weight: 600;
 }

 .answer-align{
   width: 700px;;
   display: flex;
   flex-wrap: wrap;
 }

 .count{
   color: cornsilk;
   height: 80px;
   width: 80px;
   border-radius: 50%;
   background-color: darkgoldenrod;
   font-size: 40px;
   text-align: center;
   padding: 15px;
   position: absolute;
   left: 100px;
   top:50px;
   border: 3px white solid;
 }

.amount-list{
 padding: 10px;
 font-size: 15px;
 font-weight: 400;

}

.amount-list .active{
  background-color: violet;
}

.amount-align{
  margin-top: 10px;
}

.answer-section:hover{
  background-color: rgb(168, 108, 59);
}

.answer-section:active{
background-color: darkblue;
}

.answer-section.active{
 background-color: darkblue;
}

.notification{
  color: antiquewhite;
  margin-top: 100px;
  font-size: 40px;
}

.answer-section.correct{
  animation: correct 3s ease-in-out;
}

@keyframes correct {
  0%,
  25%,
  45%{
    background-color: darkgoldenrod;
  }
  20%,
  40%,
  60%{
    background-color: darkmagenta;
  }
  61%,
  100%{
    background-color: green;
  }
}

.answer-section.wrong{
  animation: wrong 3s ease-in-out;
}

@keyframes wrong {
  0%,
  25%,
  45%{
    background-color: darkgoldenrod;
  }
  20%,
  40%,
  60%{
    background-color: darkmagenta;
  }
  61%,
  100%{
    background-color: red;
  }
}

@media screen and (max-width:700px) {

 .main-page{
   flex-direction: column-reverse;
   width: 100%;
   justify-content: center;
   padding-top: 150px;
  
 }
 .question-page{
    width: 90%;
    margin: 10px auto;
    justify-content: center;
    align-items: center;
  }

  .question-amount{
    width:70%;
    margin: -250px auto 10px;
  }

  .count{
    width:50px;
    height: 50px;
    left: 5px;
    top: 5px;
    font-size: 16px;
  }

  .question-section{
     width: 250px;
     height: 80px;
     margin-left: auto;
     margin-right: auto;
     font-size: 15px;
     padding: 15px;
     margin-top: 20px;
  }

  .answer-section{
    width: 130px;
    font-size: 15px;
    height: 30px;
    padding: 7px;
  }

  .answer-align{
    width:300px;
    margin-left: 20px;
  }

  .amount-align{
    margin-top: 5px;
  }

  .amount-list{
    font-size: 12px;
  }

  .question-amount ul li{
    justify-content: space-between;
    height: 15px;
  }
}